# API Backend (Endpoint racine de la v1)
VITE_API_URL=http://localhost:8000/api/v1

# Google OAuth (Doit matcher avec celui du backend)
VITE_GOOGLE_CLIENT_ID=votre-id-google-apps.googleusercontent.com

# OAuth Redirect URI
VITE_REDIRECT_URI=http://localhost:5173/auth/callback
