@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

/* Fix pour certains navigateurs mobiles qui ignorent overflow-x hidden sur body */
#root {
  overflow-x: hidden;
  width: 100%;
}